{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label.some' | trans }}
{% endblock %}

{% block body %}
    <h1>View item</h1>
    {% if item is defined and item|length %}
        <dl>
            <dt> {{ 'label.title'| trans }}</dt>
            <dd>{{ item.title }}</dd>
            <dt>Tags</dt>
            <dd>{{ item.tags|join(', ') }}</dd>
        </dl>
    {% else %}
        <p>
            Item not found.
        </p>
    {% endif %}
{% endblock %}